@using MovieDB.Shared

<div class="modal modal-mask" style="display: block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    @(IsNewMovie ? "Add" : "Edit") Movie
                </h3>
            </div>
            <EditForm Model="@movie" OnValidSubmit=@OnSaveEvent>
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="alert alert-danger"><ValidationSummary /></div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Title</label>
                            <InputText @bind-Value="movie.Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <InputNumber @bind-Value="movie.Year" class="form-control" T="int" />
                        </div>
                        <div class="form-group">
                            <label>Director</label>
                            <InputText @bind-Value="movie.Director" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <InputTextArea @bind-Value="movie.Description" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OnCancelEvent">Cancel</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Movie movie { get; set; }
    [Parameter]
    public bool IsNewMovie { get; set; }
    [Parameter]
    public EventCallback<EditContext> OnSaveEvent { get; set; }
    [Parameter]
    public EventCallback OnCancelEvent { get; set; }
}
